<app-navbar></app-navbar>
<!--<app-sidebar></app-sidebar>-->

<div class="container">
    <div class="row">
  <div class="col-sm-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-sm-9">
    <div class="form-group col-md-12 bg-primary">
            <label class="control-label" for="">Calendar</label>
        </div>
   <ul class="bs-box clerfix">
            <li class="col-md-3">
                <a class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2>Taxa locuinta</h2>
                        <p>19.01.2017</p>
                    </div>
                </a>
            </li><li class="col-md-3">
                <a class="panel panel-default">
                    <div class="panel-body text-center">
                        <h3>Taxa rovinieta</h3>
                        <p>12.05.2014</p>
                    </div>
                </a>
            </li><li class="col-md-3">
                <a class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2>Taxa auto</h2>
                        <p>13.09.2018</p>
                    </div>
                </a>
            </li><li class="col-md-3">
                <a class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2>Taxa de timbru</h2>
                        <p>12.01.2017</p>
                    </div>
                </a>
            </li>
           
        </ul>
</div>
    </div>
</div>

