  <header>
       <nav>
           <div class="row">
               <!--<img src="src/app/home/img/taxes.svg" alt="Taxes" class="logo">-->
              
               <!--<ul class="main-nav js--main-nav">
                   <li><a href="#features">About</a></li>
                   <li><a href="#works">Features</a></li>
                   <li><a href="#works">Pricing</a></li>
                   <li><a href="#cities">Our team</a></li>
                   <li><a href="#plans">Contact</a></li>
               </ul>-->
               <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
           </div>
       </nav>
        <div class="hero-text-box">
            <h1>MyTax <br /><br /></h1>
            <h6> Free platform to check the state of your taxes.</h6>
            
            <a class="btn btn-danger js--scroll-to-start" [routerLink]="['/login']">Find out more</a>
        </div>
    </header>